.about_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-image: url(../../assets/images/02.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.about_wrapper h2 {
  font-size: 60px;
  color: red;
}
